@font-face{
  font-family: Beaufort for LOL,sans-serif;
  src: local('Typographies/beaufortforlol-regular.otf');
}

html, body{
  height: 100%;
}

body{
    background-image: url('img/bg/championsBG.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: beaufortforlol-regular ;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color:#110d1e;
}

a {
  color: #c4b998;;
}

a:hover{
  text-decoration: underline;
  color: aliceblue;
}

h1{
    font-size: 1.6rem;
    font-family: beaufortforlol-bold;
    margin-bottom: 0;
}

p, #mentions li{
    text-align: justify;
    color: aliceblue;
    font-weight: 300;
    font-size: 1.1rem;
}

ul{
  list-style: none;
}

.soustitre{
  color: #c4b998;
  opacity: 0.9;
  font-family: Beaufort for LOL,sans-serif;
  letter-spacing: 0.05rem;
  margin-bottom:26px;
}

.img{
  max-width: 100%;
}

#ligne1{
  transform: rotate(180deg);
}

.navbar{
  padding:0 1rem;
}

.navbar a{
  color: rgb(252,241,138);
  text-decoration:none;
}

.navbar-light .navbar-toggler-icon {
  background-image: none;
}

#menu-top{
  background-color: #28213d;
  box-shadow: 0 16px 16px -16px rgba(0, 0, 0, 0.7);
  margin-bottom:70px;
}

.nav-item a {
  position: relative;
  text-decoration: none;
}

.nav-item a:hover, .navbar .active {
  color: #c4b998;
}

.nav-item a:after, .navbar .active:after {
  content: '';
  transform-origin: 0 0; 
  transform: scaleX(0);
  position: absolute;
  bottom: -13px;
  left: 0;
  right: 0;
  height: 2px; 
  background: rgb(252,241,138);
  z-index: 0;
  opacity: 0.8;
  transition: transform .3s;
}
.nav-item a:hover:after, .navbar .active:after {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
}

#search{
  background-color:#332a4c;
  margin-bottom:60px;
  box-shadow: 0 16px 16px -16px rgb(0 0 0 / 70%);
}

#search-field{
  background-color:transparent;
  border:0;
  caret-color:rgba(196, 185, 152, 0.9);
  color:rgba(196, 185, 152, 0.9);
  font-size:1.1rem;
  font-family:Beaufort for LOL,sans-serif;
  width:100%;
}

#search-field::placeholder{
  color:rgba(196, 185, 152, 0.5);
  font-family:Beaufort for LOL,sans-serif;
  font-weight: 200;
}

#search-field:focus{
  outline:none;
}

.scroll #search{
  top:0;
  z-index:1;
  position:fixed;
}

header{
  margin-bottom:100px;
}

.carousel-control-next, .carousel-control-prev{
  width:5%;
}

.carousel-caption h2{
  font-size: 3.5rem;
}

.carousel-caption p{
  font-size:1rem;
}

.carousel-caption {
  bottom:auto;
  background-color: rgba(0, 0, 0, 0.35);
  padding:15px;
  width:500px;
}

.displaygauche{
  top:25%;
  right:auto;
  left:5%;
  padding:15px;
}

.displaymid{
  top:40%;
  margin-left:auto;
  margin-right:auto;
  right:0;
  left:0;
}

main h2{
  margin-bottom:30px;
  border-bottom: 1px solid rgb(252,241,138);
  padding-bottom:8px;
}

main h3{
  font-size: 1.7rem;
}

main .col {
  padding:0 !important;
}

.titre-b{
  margin-bottom:20px;
}

.runes{
  padding: 0 20px;
  border-right: 1px solid rgb(252,241,138);
  
}

.itemsbox{
  min-width: 157px;
  max-width: 157px;
}

.items{
  padding: 0 20px;
  vertical-align: top;
  max-height: 240px;
}

.champName{
    font-size: 3rem;
}

.versus{
    font-size: 8rem;
    font-weight: 700;
}

.difficulté{
    height: 5px;
}

.filetElt{
    width: 100% ;
    padding-top: 0;
    margin-top: 40px;
}

.filling-empty-space-childs{
  width:136px;
  height:0px;
}

#filling-empty-space-child-reverse{
  width:396px;
  height:0;
}

/* Dégradé doré pour les textes */
.color-txt{

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fcf18a+0,f1da36+100 */
    color: rgb(252,241,138);
    color: -moz-linear-gradient(-45deg,  rgb(252,241,138) 0%, rgb(241,218,54) 100%);
    color: -webkit-linear-gradient(-45deg,  rgb(252,241,138) 0%,rgb(241,218,54) 100%); /* Chrome10-25,Safari5.1-6 */
    color: linear-gradient(135deg,  rgb(252,241,138) 0%,rgb(241,218,54) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf18a', endColorstr='#f1da36',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    
}
.mt-15{
    
margin-top: 10%;
}

.col-txt{
    margin-top: 50px;
}

/* Réglages pour les img des champions */
.border-img{
  border: 1px solid rgb(252,241,138);
}

.border-img:hover{
  border: 1px solid rgb(252,241,138);
}

.scale:hover{
  transform: scale(1.12);
  transition: 0.45s;
}

.scale2:hover{
  transform: scale(1.06);
  transition: 0.45s;
}

.indispo{
  filter: grayscale(100%);
}

.advmobile:nth-child(even){
  background-color: rgba(51,42,76,0.5);
}

.advmobile:nth-child(odd){
  background-color: rgba(40,33,61,0.5);
}

.advmobilename{
  min-width: 490px !important;
}

.advmobilename h2 {
  font-size: 3.5rem !important;
}

.card-img{
    width: 100%;
}

.card-body{
    text-align: center;
    padding: 1.25rem 0;
}

.paraspell{
  text-align: center;
}

#parryspell div{
  margin-left: 20px;
  margin-right:20px;
}

/*icones page 1 & 2*/
.filter{
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
}

.filter:hover{
    background-color: rgba(0,0,0,0);
    border: 1px solid rgb(252,241,138);
}

.mb-footer{
  margin-bottom : 8%;
}

footer
{
  background-color: #28213d;
  padding:25px 0;
  font-size:15px;
  line-height:24px;
  color:rgb(252,241,138);
  margin-top: auto;
}
footer hr
{
  border-top-color:#bbb;
  opacity:0.5;
}
footer hr.small
{
  margin:20px 0;
}
footer h6
{
  color:rgb(252,241,138);
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}

.footer-links
{
  padding-left:0;
  list-style:none;
}
.footer-links li
{
  display:block;
}
.footer-links a
{
  color: rgb(252,241,138);
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block;
}
footer .social-icons
{
  text-align:right;
}
footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d;
}
.copyright-text
{
  margin:0;
}
/*@media (max-width:991px)
{
  footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  footer
  {
    padding-bottom:0
  }
  footer .copyright-text,footer .social-icons
  {
    text-align:center
  }
}*/

/* RESPONSIVE*/
/*@media (min-width: 1200px) {
  .navbar{
    padding: 0 1rem !important;
  }
}*/
@media all and (max-device-width: 480px)
{
  h1{
    font-size: 3rem;
  }

  h2{
    font-size: 2.5rem;
  }

  h3{
    font-size: 2.3rem !important;
  }

  #search-field{
    font-size: 2.5rem;
  }

  .soustitre{
    font-size: 2.5rem !important;
  }

}

@media all and (max-device-width: 1024px)
{
  p{
    font-size:1.5rem !important;
  }

  .navbar{
    padding: .5rem 1rem !important;
  }

  #aboutweakside{
    max-width: 800px;
  }

  .contenuprincipal{
    max-width: 950px;
  }
}

@media all and (max-device-width: 1366px)
{
  body{
    background-size: 100vh;
  }

  .nav-item a:after, .navbar .active:after {
    content: '';
    transform-origin: none; 
    transform: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0; 
    background: rgb(252,241,138);
    z-index: 0;
    opacity: 0;
    transition: none;
  }

  #mentions{
    font-size:1.3rem;
  }

  .runes{
    padding: 0 20px 0 0px;
  }

  #build{
    padding-left:0;
  }
  
}
